#!/bin/bash
# Script: my-pi-temp.sh
# Purpose: Display the ARM CPU and GPU  temperature of Raspberry Pi 2/3
# Author: Vivek Gite <www.cyberciti.biz> under GPL v2.x+
# -------------------------------------------------------
cpu=$(</sys/class/thermal/thermal_zone0/temp)
cpuUsage=$(grep 'cpu ' /proc/stat | awk '{usage=($2+$3+$4)*100/($2+$3+$4+$5)} END {print usage "%"}')
gpuTemp=$(/opt/vc/bin/vcgencmd measure_temp | grep -oP '(?<=temp\=)\d+')
echo "coretemp,processor=gpu temp=$((gpuTemp))"
echo "coretemp,processor=cpu temp=$((cpu/1000))"
